.color-name {
  display: flex;
}

.color-name__letter {
  color: #191919;
  font-size: 3em;
  font-weight: bold;
  height: 64px;
  width: 64px;
  display: flex;
  justify-content: center;
  opacity: .8;
  // animation-name: letterAnim;
  // animation-duration: 1s;
  // animation-fill-mode: forwards;
}

@media only screen and (max-width: 520px) {
  .color-name__letter {
    font-size: 1.5em;
    font-weight: bold;
    height: 32px;
    width: 32px;
  }
}