.contact {
  display: flex;
  flex-direction: column;
}

.contact-content {
  display: flex;
  flex-direction: row;
  gap: 32px;
}

.contact__left { 
  flex: 1;
}

.contact__right {
  flex: 2;
}

.contact-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 4px;
  overflow: hidden;
  color: #44adea;
  height: 100%;
}

.contact-card__upper {
  background-color:#44adea;
  width: 100%;
  height: 96px;
  position: relative;
}

.contact-card__image {
  display: grid;
  place-items: center;
  margin-right: 8px;
}

.contact-card__image-tag {
  width: 128px;
  height: 128px;
  border-radius: 50%;
  border: 2px solid #0fabc6;
  object-fit: cover;
  position: absolute;
  top: 32px;
}

.contact-card__lower {
  width: 100%;
  flex: 1;
  padding: 8px 32px;
  display: flex;
  flex-direction: column;
}

.contact-card-lower__name {
  display: flex;
  justify-content: space-between;
  font-size: 24pt;
  font-weight: bold;
  width: 100%;
  margin-bottom: 64px;
  font-variant: small-caps;
}

.contact-card__row {
  display: flex;
  gap: 3em;
  font-size: 18pt;
}

.contact-card-row__label {
  flex: 1;
  font-weight: 700;
}

.contact-card-row__text a {
  color:#44adea;
}

.contact-card-row__text {
  flex: 2;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.contact-form__input {
  display: flex;
  flex-direction: column;
  font-size: 16pt;
}

.contact-form__name {
  display: flex;
}

.contact-form__first-name, .contact-form__last-name {
  flex: 1;
}

.contact-form__first-name {
  margin-right: 4px;
}

.contact-form-input__text {
  border-radius: 4px;
  padding: 4px 8px;
  font-size: 14pt;
}

.contact-form-input__text:focus {
  outline: 2px solid #44adea;
  outline-offset: -2px;
}

.contact-form-input__text-area {
  resize: vertical;
  min-height: 128px;
  border-radius: 4px;
  padding: 4px 8px;
  font-size: 14pt;
}

.contact-form-input__text-area:focus {
  outline: 2px solid #44adea;
  border-radius: 8px;
}

.contact-form__error {
  font-size: 10pt;
  font-weight: 300;
  color: red;
  font-style: italic;
}

.contact-form__label {
  margin-bottom: 8px;
  letter-spacing: 3px;
}

.contact-form__submit {
  width: 128px;
  padding: 8px 16px;
  color: white;
  background-color: #44adea;
  font-size: 16pt;
  text-transform: uppercase;
  border: none;
  border-radius: 8px;
  cursor: default;
}

.inactive {
  filter: grayscale(1);
  cursor: default;
}

.contact-form__submit:hover {
  color:#0fabc6;
  background-color: white;
  outline: 3px solid #0fabc6;
}

.inactive:hover {
  background-color: #0fabc6;
  color: white;
  outline: none;
}

.submitted-message__check-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.submitted-message__check {
  background-color: #a2ca42;
  padding: 8px;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  display: grid;
  place-items: center;
  font-size: 12pt;
  margin-right: 8px;
}

@media only screen and (max-width: 1465px) {
  .contact-card__upper {
    margin-bottom: 64px;
  }
  
  .contact-card-lower__name {
    justify-content: center;
    margin-bottom: 16px;
  }

  .contact-card-name__first {
    margin-right: 8px;
  }
}

@media only screen and (max-width: 1000px) {
  .contact__left {
    flex: .5;
  }

  .contact-card-lower__name {
    font-size: 24pt;
  }

  .contact-card-row__text {
    font-size: 12pt;
  }

  .contact__right {
    flex: 4;
  }
}

@media only screen and (max-width: 870px) {
  .contact-content {
    flex-direction: column;
    margin-bottom: 96px;
  }

  .contact-card__upper {
    margin-bottom: 64px;
  }

  .contact-form__submit {
    width: 100%;
  }

  .contact-form__name {
    flex-direction: column;
  }
  
  .contact-card-row__text {
    font-size: 12pt;
  }
}

@media only screen and (max-width: 200px) {
  .contact-card-lower__name {
    content: "SQUISHED!";
  }
}