.filter-button-container {
  display: inline-block;
  overflow: hidden;
  border-radius: 4px;
  margin: 4px 0;
  cursor: pointer;
  user-select: none;

  &:hover {
    outline: 1px solid rgba(255, 255, 255, 0.2);
  }
}

.filter-button {
  display: flex;
  background-color: #4e4e4e;
  font-size: 14pt;
  align-items: center;
  padding: 2px;
  padding-right: 5px;
}

.filter-button__logo {
  display: flex;
  align-items: center;
}

.filter-button__logo-img {
  height: 32px;
  padding: 4px 4px;
  object-fit: cover;
}

.filter-button__text {
  white-space: nowrap;
}

.filter-button-container.selected {
  outline: 1px solid white;
}