.mobile-button-container {
  width: 100%;
  display: flex;
  justify-content: center;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 35px;
  z-index: 11;
}

.mobile-menu-container {
  width: 100%;
  height: 100%;
  opacity: 0;
  pointer-events: none;
  position: fixed;
  backdrop-filter: blur(7px);
  left: 0;
  bottom: -40px;
  font-size: 2em;
  padding: 3em 1em;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  transition: .5s ease-in-out;
  z-index: 10;
  color: white;
  background-color: rgba(0,0,0,.5);
  font-weight: 700;
}

.mobile-menu-container.active {
  pointer-events: all;
  opacity: 1;
  bottom: 0;
  transition: .5s ease-in-out;
}

.mobile-button-bg {
  background-color: #485777;
  border-radius: 50%;
}