* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

body {
  background-color: #191919;
}

a {
  text-decoration: none;
  color: white;
}

.App {
  color: white;
}

@import './colorName';
@import './fractalFolder';
@import './portfolio';
@import './home';
@import './retroWords';
@import './homePageButton';
@import './pageWrapper';
@import './contact';
@import './portfolioList';
@import './techBadge';
@import './filterButton';
@import './pageTitle';
@import './mobileMenu';